@import '~src/styles.scss';

$background-light: rgb(248, 248, 248);
$background-dark: rgb(52, 51, 54);
$text-light: rgb(43, 43, 43);
$text-dark: rgb(255, 255, 255);

.notification {
    &:not(.dark) {
        background-color: $background-light;
        .title-input { color: $text-light !important; }
    }

    &.dark {
        background-color: $background-dark;
        .title-input { color: $text-dark !important; }
    }

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.image {
    width: 100%;
}

.body {
    background-color: blueviolet;

    width: 100%;
    padding: 1rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}

.texts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.65rem;

    input, textarea {
        @extend %font-base;
        background-color: transparent;

        border: none;
        outline: none;
        width: 100%;
        resize: none;
    }

    .title, .title-input {
        font-size: 1.5rem;
        letter-spacing: 0.08rem;
    }

    .message, .message-input {
        font-size: 1.1rem;
        letter-spacing: 0;
        height: 100%;
    }
}
