<div class="container">
  <div class="content">
    <div class="editor">
      <div class="template">
        <div class="image">
          <div class="icon-menu">
            <button class="import menu-item">
              <img class="menu-item-icon" src="assets/icons/download.png" alt="">
              <span>Import</span>
            </button>
            <button class="gallery menu-item">
              <img class="menu-item-icon" src="assets/icons/photo-gallery.png" alt="">
              <span>Gallery</span>
            </button>
          </div>
          <img class="icon" src="http://placehold.it/120x120" alt="">
        </div>
        <div class="texts">
          <div class="title">
            <input class="title-input" type="text" value="" placeholder="Titre" maxlength="24">
          </div>
          <div class="message">
            <textarea class="message-input" maxlength="100" placeholder="Message"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="saved">
    </div>
  </div>
</div>
