<div class="container">
  <div class="content">
    <div class="editor">
      <div class="template">
        <div class="image">
          <div class="icon-menu">
            <button class="import menu-item" (click)="importIcon()">
              <img class="menu-item-icon" src="assets/icons/download.png" alt="">
              <span>Import</span>
            </button>
            <button class="gallery menu-item" (click)="browseGallery()">
              <img class="menu-item-icon" src="assets/icons/photo-gallery.png" alt="">
              <span>Gallery</span>
            </button>
          </div>
          <img class="icon" src="http://placehold.it/120x120" alt="">
        </div>
        <div class="texts">
          <div class="title">
            <input class="title-input" type="text" [(ngModel)]="title" maxlength="26" placeholder="Titre">
          </div>
          <div class="message">
            <textarea class="message-input" [(ngModel)]="message" maxlength="140" placeholder="Message"></textarea>
          </div>
        </div>
      </div>

      <div class="buttons">
        <app-button-small [title]="'Preview'" (onClick)="test()"></app-button-small>
        <app-button-small [title]="'Send'" (onClick)="send()"></app-button-small>
      </div>
    </div>
  </div>
</div>
